.cartContainer {
	padding: 30px;
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	animation: cart 0.25s linear forwards;
	gap: 30px;
}

@keyframes cart {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.caption {
	color: white;
	margin-bottom: 20px;
}

table {
	border-collapse: collapse;
	width: 100%;
	font-size: 22px;
	background-color: white;
	color: #101820;
}

th,
td {
	border: 1px solid #101820;
	padding: 8px;
	text-align: left;
}

th {
	background-color: gainsboro;
	color: #101820;
	font-size: 23px;
}

td:hover {
	background-color: gainsboro;
}

.total {
	font-size: 30px;
	background-color: gainsboro;
}

.iconAndButton {
	display: flex;
	justify-content: space-between;
}

.gitHubIcon {
	font-size: 50px;
}

.link {
	cursor: pointer;
	color: white;
	transition: color 0.15s linear;
	align-self: center;
}

.link:hover {
	color: cornflowerblue;
}

.button {
	color: white;
	border: 2.5px solid white;
	border-radius: 5px;
	padding: 5px 30px;
	font-size: 30px;
	background-color: transparent;
	transition: border-color 0.2s linear;
}

.button:hover,
.button:focus {
	border-color: cornflowerblue;
	outline: none;
}

.modal {
	height: 40%;
	width: 40%;
	background-color: white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	border: 2.5px solid cornflowerblue;
	background-color: #101820;
	color: white;
	animation: modal 0.3s linear forwards;
}

.modal:focus {
	outline: 3px solid white;
}

.modalContent {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding: 10px;
	position: relative;
}

.closeIcon {
	position: absolute;
	top: -10px;
	right: -10px;
}

@keyframes modal {
	0% {
		transform: translate(-50%, -300%);
	}

	70% {
		transform: translate(-50%, -30%);
	}

	100% {
		transform: translate(-50%, -50%);
	}
}
