.homeContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 70px;
	align-items: center;
	width: 100%;
	min-height: 80vh;
	padding: 40px 50px;
	background: url('background.jpg');
	background-size: cover;
	background-position: center;
	color: white;
	animation: home 0.45s linear forwards;
}

@keyframes home {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.welcomeContainer {
	width: 70%;
	border-radius: 5px;
	padding: 30px;
	background-color: rgba(0, 0, 0, 0.7);
}

.welcomeMessage {
	font-size: 90px;
}

.p {
	font-size: 23px;
	text-align: left;
	color: gainsboro;
}

.credit {
	padding: 5px 20px;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
}

.link {
	color: darkgray;
}

.link:hover {
	text-decoration: underline;
	color: white;
}

@media only screen and (max-width: 900px) {
	.homeContainer {
		padding: 40px 20px;
		gap: 40px;
	}

	.welcomeContainer {
		width: 100%;
		padding: 20px;
	}

	.welcomeMessage {
		text-align: center;
		font-size: 55px;
	}

	.p {
		text-align: center;
		font-size: 20px;
	}

	.link {
		font-size: 16px;
	}
}
