.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 20vh;
	padding: 10px 30px;
}

.shopName {
	font-family: 'Satisfy', cursive;
	font-size: 65px;
}

.headerLinks {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 30%;
	font-size: 35px;
}

.link {
	border-radius: 5px;
	padding: 0px 10px;
}

.activeLink {
	composes: link;
	color: #101820;
	background-color: white;
}

.inactiveLink {
	composes: link;
	color: white;
}

.inactiveLink:hover {
	text-decoration: underline;
}

.shoppingCartContainer {
	position: relative;
	display: inline-block;
}

.cartIcon {
	font-size: 30px;
}

.cartLink {
	display: flex;
	align-items: center;
	padding: 5px 15px;
	border-radius: 5px;
}

.activeCartLink {
	composes: cartLink;
	color: #101820;
	background-color: white;
}

.inactiveCartLink {
	composes: cartLink;
	color: white;
}

.inactiveCartLink:hover {
	text-decoration: underline;
}

.cartItemCount {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	height: 25px;
	width: 25px;
	bottom: -5px;
	right: -7px;
	border-radius: 50%;
	padding: 5px;
	font-size: 14px;
	background-color: cornflowerblue;
}

@media only screen and (max-width: 900px) {
	.header {
		flex-direction: column;
		padding: 15px 10px;
	}

	.shopName {
		font-size: 55px;
	}

	.headerLinks {
		width: 100%;
		font-size: 28px;
	}
}
