.errorPage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
	height: 80vh;
	width: 100%;
	font-size: 1.2rem;
	text-align: center;
	background-color: #101820;
	color: white;
}

.link {
	color: white;
}

.link:hover {
	text-decoration: underline;
}
