@import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Roboto&family=Satisfy&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

:root {
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: #101820;
	color: white;
}

a {
	text-decoration: none;
}

button {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.material-symbols-outlined {
	cursor: pointer;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-thumb {
	background-color: cornflowerblue;
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgb(69, 120, 215);
}

::-webkit-scrollbar-thumb:active {
	background-color: rgb(44, 95, 191);
}

@media only screen and (min-width: 1800px) {
	:root {
		font-size: 20px;
	}
}
